</main>

        <footer class="site-footer">
            <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-md-start">
        
        <hr class="my-3 text-white-50" />

        <!-- Footer Bottom -->
        <div class="text-center text-muted">
            © 2025 <strong>Career Navigator</strong>. All rights reserved.
        </div>
    </div>
</footer>




                </div>
            </div>

        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/click-scroll.js"></script>
        <script src="/static/js/animated-headline.js"></script>
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/custom.js"></script>

    </body>
</html>